<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://localhost:88/static/img/asset-favicon.ico">
    <title>修改密码</title>
    <link rel="stylesheet" href="http://localhost:88/static/plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" href="http://localhost:88/static/plugins/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="http://localhost:88/static/css/page-learing-personal-mail.css" />
</head>

<body>
    <!-- 页面头部 -->
    <!--#include virtual="/include/header.html"-->
    <div class="personal-header" style="background-image: url(http://localhost:88/static/img/asset-banner.png);">
    </div>
    <!-- 页面 -->
    <div class="container" id="modifyPasswordApp">
        <div class="personal-nav pull-left" id="ucenterApp">
            <div class="nav nav-stacked text-left">
                <div class="title">个人中心</div>
                <div class="my-ico">
                                        <img :src="user.userpic || 'http://localhost:88/static/img/studyuser.png'" width="140px" height="140px" alt="" style="box-shadow:none">

                    <p>{{ user.name || user.nickname || user.username || '未登录用户' }}</p>
                </div>
                <div class="item">
                    <!--#include virtual="/include/ucenter_menu.html"-->
                </div>
            </div>
        </div>
        <div class="personal-content pull-right">
            <div class="set-cant">
                <div class="top">
                    <div class="tit"><span><em>当前位置: </em> 我的资料 > 密码修改</span></div>
                    <div class="setting-tabs">
                        <a href="modifyinfo.html">修改头像</a>
                        <a href="modify_nickname.html">修改昵称</a>
                        <a href="modify_email.html">修改邮箱</a>
                        <a href="modify_password.html" class="active">修改密码</a>
                    </div>
                </div>
                <div class="name-cont">
                    <div class="top-lab">为保证账户安全，请定期更换密码，并避免与其它网站使用相同密码。</div>
                    <div class="name-box">
                        <div>原密码 ：<input type="password" name="oldPassword" class="name" v-model="form.oldPassword" placeholder="请输入原密码"></div>
                        <div>新密码 ：<input type="password" name="newPassword" class="name" v-model="form.newPassword" placeholder="请输入新密码"></div>
                        <div>确认密码 ：<input type="password" name="confirmPassword" class="name" v-model="form.confirmPassword" placeholder="请再次输入新密码"></div>
                        <div><input type="submit" value="修改密码" class="sub-lab" @click="submit"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部版权-->
    <!--#include virtual="/include/footer.html"-->

    <!-- 页面 css js -->
    <script type="text/javascript" src="../plugins/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../plugins/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        $(function () {
            $(window).scroll(function () {
                if ($(this)[0].scrollY > 235) {
                    $('.personal-nav').css({
                        'position': 'fixed',
                        'top': 10
                    });
                } else if ($(this)[0].scrollY <= 155) {
                    $('.personal-nav').css({
                        'position': 'relative',
                        'top': -70
                    });
                };
            })
        })
    </script>
    <script>
        // 左侧个人信息 + 密码表单 VM
        var modifyPasswordVm = new Vue({
            el: '#modifyPasswordApp',
            data: {
                user: {
                    userid: '',
                    username: '',
                    name: '',
                    nickname: '',
                    userpic: ''
                },
                form: {
                    oldPassword: '',
                    newPassword: '',
                    confirmPassword: ''
                }
            },
            created() {
                var activeUser = getActiveUser();
                if (activeUser) {
                    this.user = activeUser;
                } else {
                    // 未登录则跳转登录页
                    window.location = "http://localhost:88/sign.html?returnUrl=" + Base64.encode(window.location);
                }
            },
            methods: {
                submit() {
                    if (!this.form.oldPassword || !this.form.newPassword || !this.form.confirmPassword) {
                        alert('请完整填写密码信息');
                        return;
                    }
                    if (this.form.newPassword !== this.form.confirmPassword) {
                        alert('两次输入的新密码不一致');
                        return;
                    }
                    alert('密码修改提交逻辑待接入接口');
                }
            }
        })
    </script>
</body>

</html>









